.my-test-class {
  padding: 2rem;
  background: #eee;
  border: 1px solid #ddd;

  button {
    appearance: none;
    font-weight: bold;
    font-size: 1.25rem;
		padding: 1.5rem;
    background: white;
    box-shadow: 0 2px 4px rgba(black, 0.12);
  }
}
